{% extends 'base.html.njk' %}

  </head>
  {% block header %}

 <h1>Welcome, {{ name }}</h1>

 {% endblock header %}

  <body>
    {% block body %}

    {% for fossils in mostLiked %}
    <div class="fossil-div">
        <h3>{{ name }}, this is a {{ fossils.name }}</h3>
       <h2>Liked {{ fossils.num_likes }} times.</h2>
        <img src="{{ fossils.img }}" />
      {% endfor %}
    </div>
  <form action="/like-fossil" method="post" >
      <select name="dino">
        <option value="aust">Australopithecus</option>
        <option value="quetz">Quetzal</option>
        <option value="steg">Stegosaurus</option>
        <option value="trex">Tyrannosaurus Rex</option>
     </select>
     <input type="submit" />
  </form>
   {% endblock body %}
  </body>



